# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
.vercel

# Build
build/
dist/

# Misc
.DS_Store
*.tsbuildinfo
.env*.local
.env

# IDE
.idea/
.vscode/

# Playwright
playwright-report/
test-results/
blob-report/
playwright/.cache/
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
